@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #010101;
  --font-heading: var(--font-bebas);
  --font-body: var(--font-inter);
  --font-playfair-italic: var(--font-playfair);
}

.italic-font {
  font-family: var(--font-playfair);
  font-style: italic;
}

.playfair-normal {
  font-family: var(--font-playfair);
  font-style: normal;
}

.group:hover .italic-playfair {
  font-family: var(--font-playfair);
  font-style: italic;
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  letter-spacing: 2px;
}

p,
span,
a,
li {
  font-family: var(--font-body);
}


@theme {
  --color-primary: #6B55FF;
  --color-text-primary: #FEE9CE;
  --color-header-background: #010101;
}

body {
  /* color: var(--foreground); */
  background-color: var(--foreground);
}



#nprogress .bar {
  background: #1376f8 !important;
  height: 2px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #1376f8, 0 0 5px #1376f8 !important;
}